<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="card card-layout">
    <div class="card-layout-header">
        <i class="fa-solid fa-pen-to-square"></i>
        <h1>Edit Product</h1>
    </div>

    <form th:action="@{/editProduct}" th:object="${sonyProducts}" method="post">

        <input type="hidden" th:field="*{productId}"/>

        <div class="form-group">
            <label for="productName">Product Name</label>
            <input type="text" id="productName" th:field="*{productName}" placeholder="e.g. PlayStation 5"
                   minlength="5" maxlength="50" required>
            <div th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}" class="field-error"></div>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" id="price" th:field="*{price}" step="1" min="100" placeholder="e.g. 499"
                   required>
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="field-error"></div>
        </div>

        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" id="stock" th:field="*{stock}" min="0" max="1000" placeholder="e.g. 100"
                   required>
            <div th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}" class="field-error"></div>
        </div>


        <div class="form-group">
            <label for="createdAt">Created At</label>
            <input type="date" id="createdAt" th:field="*{createdAt}" required>
            <div th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}" class="field-error"></div>
        </div>

        <div class="form-group">
            <label for="cateId">Category</label>
            <!-- Form post cateId theo controller -->
            <select id="cateId" name="cateId" required>
                <option value="">-- Select a Category --</option>
                <option th:each="category : ${categories}"
                        th:value="${category.cateId}"
                        th:text="${category.cateName}"
                        th:selected="${sonyProducts.category != null and sonyProducts.category.cateId == category.cateId}">
                    Category Name
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-floppy-disk"></i> Update Product
        </button>
        <a th:href="@{/home}" class="btn-link">
            <i class="fa-solid fa-arrow-left"></i> Back to Home
        </a>
    </form>
</div>

</body>
</html>
